:root {
    /* Font */
    --font-primary: 'Roboto', sans-serif;

    /* Main Colors */
    --color-text: #3C4043;
    --color-background: #FFFFFF;
    --color-background-hover: #fafafa;
    --color-border: #DADCE0;

    /* Secondary Colors */
    --color-icon: #a1a1a1;
    --color-icon-hover: #525252;

    /* Logout Colors */
    --color-danger: #c10007;
    --color-danger-background-hover: #ffe2e2;
    --color-danger-light: #fef2f2;

}


/* Set box-sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

#container {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#details {
    padding: 0 10px;
}


#logo-img {
    max-width: 150px;
}


#option-container {
    align-self: flex-end;
    margin: 10px 5px 0 0;
}

#options {
    background: none;
    border: none;
    cursor: pointer;
}

#options svg {
    fill: var(--color-icon);
}

#options:hover svg {
    fill: var(--color-icon-hover);
}



.google-sign-in-button {
    display: flex;
    align-items: center;
    justify-content: space-around; 

    width: 100%; 
    height: 40px; 
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
    cursor: pointer;
    
    padding: 0;
    margin: 10px 0;
}

.google-sign-in-button:hover {
    background-color: var(--color-background-hover);
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 100%;
}

.google-logo-icon {
    width: 18px;
    height: 18px; 
    vertical-align: middle;
}

.button-text {
    flex-grow: 1; 
    text-align: left;
    padding-right: 11px;
}

#signout {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px; 
    background-color: var(--color-danger-light);
    color: var(--color-danger);
    font-family: var(--font-primary);
    font-size: 13px;
    font-weight: 400;
    
    border: 1px solid var(--color-danger-light);
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
    cursor: pointer;
    
    padding: 0;
    margin: 10px 0;
}

#signout:hover {
    background-color: var(--color-danger-background-hover);
    border: 1px solid var(--color-danger-background-hover);
}


#signout .button-text {
    text-align: center;
    padding-right: 11px;
}


#classification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 80%;
    height: 40px;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
    cursor: pointer;
    
    padding: 10px;
    margin: 10px 0;
}

#classification:hover {
    background-color: var(--color-background-hover);
}


#classification .button-text {
    text-align: center;
    padding-right: 0;
}


/* --- Spinner --- */
.spinner {
  display: none;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(60, 64, 67, 0.1); /* 10% of --color-text */
  border-radius: 50%;
  border-top-color: var(--color-text);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}